@import "tailwindcss";

@font-face {
  font-family: "RobotoMono";
  src: url("../public/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Boldonse";
  src: url("../public/fonts/Boldonse-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'RobotoMono', Arial, Helvetica, sans-serif;  /* Aplica a fonte RobotoMono ao corpo */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Boldonse", sans-serif;
}
